_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea
.vscode/settings.json
_site/feed.xml
tasks.md
_layouts/scratch

_outcomes/kyles-final-report.md