.cip-fellow-card {
    background-color: #4177A1;
    color: #ffffff;
    border: none;
  
    .card-title,
    .card-subtitle,
    .card-text {
      color: #ffffff;
    }
  
    a {
      color: #4177A1; // link color
    }

    .card-img-wrapper {
        height: 250px;               // fixed height for all images
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;   // letterbox fill (white)
        overflow: hidden;
    }
      
    .card-img-fixed {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;         // preserve aspect ratio
    }
    
    .card-institute {
        font-style: italic;
        color: #ffffff !important; // ensures it stays white if needed
    }
      
  }

.fellow-divider {
    border-top: 2px solid #172540;
  }
  
.fellow-name {
    color: #172540;
  }
  