.cip-fellow-card {
    background-color: #4177A1;
    color: #ffffff;
    border: none;
  
    .card-title,
    .card-subtitle,
    .card-text {
      color: #ffffff;
    }

    .card-img-wrapper {
      width: 100%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .card-img-fixed {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }    
    
    .card-institute {
        font-style: italic;
        color: #ffffff !important; // ensures it stays white if needed
    }
      
  }

.fellow-divider {
    border-top: 2px solid #172540;
  }
  
.fellow-name {
    color: #172540;
  }
  
/*
a {
  color: #4177A1; // link color
}
*/

footer.fixed-bottom,
footer.sticky-bottom {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;

  min-height: 120px;

  background-color: #172540 !important; 

  color: #fff !important;
}

footer.fixed-bottom .footer-left,
footer.sticky-bottom .footer-left {
  color: #fff !important;
}

footer.fixed-bottom a,
footer.sticky-bottom a {
  color: #fff !important;
  text-decoration: underline;
}

a.nav-link { 
  color: #4177A1; 
}

.container[role="main"] {
  padding-bottom: 120px; //this needs to match the footer padding on line 53!
}